.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

.title {
  font-size: 1.1rem;
  font-weight: bold;
}

.subtitle {
  color: #666;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

.filterButton {
  padding: 12px 24px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 25px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  font-size: 0.7rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  /* width: 30%; */
}

.filterButton:hover {
  background-color: #d6d6d6;
}

.filterButton.active {
  background-color: #000;
  color: white;
  transform: scale(1.1);
  padding: 14px 30px;
  font-size: 0.8rem;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.cardImg {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.cardContent {
  padding: 12px 0px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.cardTitle {
  font-size: 11px;
  font-weight: bold;
}

.cardLocation {
  color: #666;
  font-size: 10px;
  margin: 5px 0;
  background: transparent;
}

.cardPrice {
  font-size: 10px;
  font-weight: bold;
  background: transparent;
  margin-top: 7px;
  width: 50%;
  display: flex;
  justify-content: center;
}

.tags {
  display: flex;
  /* gap: 5px; */
  margin-bottom: 5px;
}

.tag {
  padding: 5px 10px;
  font-size: 7px;
  border-radius: 8px;
  font-weight: bold;
  margin-left: 5px;
}

.sale {
  background-color: #28a745;
  color: white;
}

.featured {
  background-color: #ffc107;
  color: black;
}
