.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.subtitle {
  color: #666;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.filterButton {
  padding: 12px 24px;
  border: none;
  background-color: #f0f0f0;
  cursor: pointer;
  border-radius: 25px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  outline: none;
}

.filterButton:hover {
  background-color: #d6d6d6;
}

.filterButton.active {
  background-color: #000;
  color: white;
  transform: scale(1.1);
  padding: 14px 30px;
  font-size: 1.05rem;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
}

.card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cardImg {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cardContent {
  padding: 15px;
}

.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
}

.cardLocation {
  color: #666;
  font-size: 0.9rem;
  margin: 5px 0;
}

.cardPrice {
  font-size: 1.1rem;
  font-weight: bold;
}

.tags {
  display: flex;
  gap: 5px;
  margin-bottom: 10px;
}

.tag {
  padding: 5px 10px;
  font-size: 0.8rem;
  border-radius: 5px;
  font-weight: bold;
}

.sale {
  background-color: #28a745;
  color: white;
}

.featured {
  background-color: #ffc107;
  color: black;
}

.seeMoreButton {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

.seeMoreButton:hover {
  background-color: #333;
}
